@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.about {

  .CV {
    display: flex;
    align-items: stretch;

    aside {
      margin-right: $sidebar-margin-right;
    }
    .container-full-width {
    }
  }
}
