@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.image-container {
  .imgOranges {
    height: auto;
    max-width: 100%;
    margin-left: calc(#{$sidebar-margin-right} + #{$sidebar-left-width});
  }
}

@media screen and (max-width: 550px) {
  .image-container {
    .imgOranges {
      margin-left: 0;
    }
  }
}
