@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";


.contact {
  display: flex;
  align-items: flex-start;

  aside {
    margin-right: $sidebar-margin-right;
  }
}
