@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.CVLine-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;

  padding-bottom: $bottom-margin-small;
  margin-bottom: $bottom-margin-small;
  @include border-bottom($color-grey-light);

  h3, h4 {
    text-align: left;
  }

  .time-place {
    @include border-layout-dashed;
    margin-right: $container-margin;
  }

  .title {
    //flex-shrink: 1;
    padding: 0 .5rem .5rem;
    //margin-right: $container-margin;
    //margin-bottom: $bottom-margin-mini;
  }

  .description {
    border: 2px solid red;
    flex: 2 1;

    p, li {
      margin-bottom: $bottom-margin-mini;
    }
    //min-width: $container-third-width;
    //
    //h4 {
    //  margin-bottom: $bottom-margin-mini;
    //
    //  & ~ h4 {
    //    margin-top: $bottom-margin-small;
    //  }
    //}

    li {
      list-style-position: inside;
      padding-left: 2rem;
      text-indent: -2rem;
    }
  }
}

//---------------------------------------------------------
//  responsive

@media screen and (max-width: 550px) {

  // TODO fix CV positioning on mobile later (move right)
  //.CV aside h2 {
  //  display: none;
  //}

  .CVLine-content {
    .title {
      margin-right: 0;
      flex-grow: 1;
    }
  }
}