@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.CVLine-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;

  padding-bottom: $bottom-margin-small;
  margin-bottom: $bottom-margin-small;
  @include border-bottom($color-grey-light);


  .time-place {
    margin-right: $container-margin;

    p {
      font-size: 2rem;
      letter-spacing: .1rem;
    }
  }

  .title {
    //@include border-layout-dashed;
    //flex-shrink: 1;
    padding: 0 .5rem .5rem;
    margin-right: $container-margin;
    margin-bottom: $bottom-margin-mini;
  }

  .description {
    flex: 2 1;
    min-width: $container-third-width;

    h3 {
      text-align: left;
      margin-bottom: $bottom-margin-mini;

      & ~ h3 {
        margin-top: $bottom-margin-small;
      }
    }

    li {
      list-style-position: inside;
      padding-left: 2rem;
      text-indent: -2rem;
    }
  }
}

//---------------------------------------------------------
//  responsive

@media screen and (max-width: 550px) {

  // TODO fix CV positioning on mobile later (move right)
  //.CV aside h2 {
  //  display: none;
  //}

  .CVLine-content {
    .title {
      margin-right: 0;
      flex-grow: 1;
    }
  }
}