@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.CVLine-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;

  padding-bottom: $bottom-margin-small;
  margin-bottom: $bottom-margin-small;
  @include border-bottom($color-grey-light);

  h3, h4 {
    text-align: left;
  }

  .time-place {
    margin-right: $container-margin;
  }

  .title.description {
    flex: 2 1;
    min-width: $container-two-thirds-width;
    padding: 0 .5rem .5rem;

    p, li {
      margin-bottom: $bottom-margin-mini;
    }

    //h4 {
    //  margin-bottom: $bottom-margin-mini;
    //
    //  & ~ h4 {
    //    margin-top: $bottom-margin-small;
    //  }
    //}

    li {
      list-style-position: inside;
      padding-left: 2rem;
      text-indent: -2rem;
    }
  }
}

//---------------------------------------------------------
//  responsive

@media screen and (max-width: 550px) {

  .CVLine-content {
    .time-place {
      margin-right: 0;
      //flex-grow: 1;
    }

    .title.description {
      flex-shrink: 0;
    }
  }
}