@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";


.nav-branding {
  .logo {
    //@include border-layout-solid;

    svg {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

//---------------------------------------------------------
//  responsive HEADER

@media screen and (max-width: 550px) {

  #header {
    background: none;

    .header-right {
      border-bottom: 0;
    }

    .nav-branding {
      background: white;
    }
  }
}
//---------------------------------------------------------
