@import '../base/colors';
@import '../base/measurements';
@import '../abstracts/mixins';

.nav-branding {
  a {
    border-bottom: 0;

    &:hover,
    &:active {
      border-bottom: 0;
    }
  }

  svg.logo {
    fill: $color-highlight;
    max-height: 100%;
    max-width: 100%;

    &:hover {
      path.bubble {
        fill: paleturquoise;
        transition: fill 0.5s ease;
      }
    }
  }
}

//---------------------------------------------------------
//  responsive

@media screen and (max-width: 550px) {
  #header {
    .header-right {
      border-bottom: 0;
    }
    .nav-branding {
      background: white;
      //background: rgba(255, 255, 255, 0.8);
    }
  }
}

//---------------------------------------------------------
