@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

// TODO: delete .toggle
#menu-checkbox,
.toggle {
  display: none;
}


.nav-branding {
  flex-shrink: 0;
  position: relative;

  a {
    border-bottom: 0;
  }

  ul {
    position: absolute;
    left: 100%;
    bottom: 0;
    padding-left: $sidebar-margin-right;

    display: flex;

    li {
      display: inline;
      margin-right: 1.5rem;

      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1rem;
      line-height: 2;
      list-style: none;
      padding: .2rem;

      a {
        padding: .4rem .7rem .5rem;

        &:hover {
          background: transparentize($color-highlight, .2);
        }
        &:active {
          color: $color-text;
        }
      }
    }
  }
}


//---------------------------------------------------------
//  responsive BURGER MENU


@media screen and (max-width: 550px) {

  header {
    background: none;

    .header-right {
      border-bottom: none;
      background: none;
    }

    .nav-branding {
      background: white;
    }
  }

  .burger-menu {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 0;
    cursor: pointer;
    //transition: transform 0.3s linear;

    span {
      display: block;
      background-color: grey;
      height: $burger-menu-dash-height;
      width: $burger-menu-width;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    &:hover span,
    &:focus span {
      background: black;
    }
  }

  .menu {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    //margin-left: $sidebar-left-margin-right;
    height: 0;
    width: 0;
    transition: width 0.3s linear;
  }

  .menu-off li {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 7px;
  }

  // the label tag here makes this whole construct work
  #menu-checkbox:checked + label {

    .menu-on {
      //position: absolute;
      //left: 100%;
      width: calc(100vw - #{$sidebar-margin-right} - #{$sidebar-left-width} - #{$main-container-padding-sides});
      //width: 27rem;
      height: 100%;
      //flex: 1 1 100%;
      @include border-bottom($color-grey-medium);

      li {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s linear;
      }
    }

    // the X to close the menu
    div.burger-menu-close {
      bottom: 1.8rem;

      span {
        background-color: black;
        margin: 0;
        transition: all 0.3s linear;

        &:first-child {
          // making the lines meet at their true center by accounting for their height
          transform: rotate(45deg) translateY(calc(#{$burger-menu-dash-height} / 2));
        }

        &:last-child {
          transform: rotate(-45deg) translateY(calc(#{$burger-menu-dash-height} / -2));
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}