@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";

.recent-work {
  display: flex;
  align-items: flex-start;

  aside {
    margin-right: $sidebar-margin-right;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    //@include border-layout-solid;
    margin-bottom: $bottom-margin-medium;

    div {
      //@include border-layout-solid;
      margin-bottom: $bottom-margin-small;

      &:first-child {
        margin-right: $container-margin;
      }
    }

    .clients {
      li {
        line-height: 2;
        list-style: none;
      }
    }

    .download {
      height: 9rem;
      //@include border-layout-dashed;
      text-align: center;

      .download-portfolio {
        padding: 2rem 1rem;
        margin-bottom: $bottom-margin-mini;
        @include border1px($color-grey-dark);

        h2 {
          color: $color-text;
        }
      }
    }
  }
}

//---------------------------------------------------------
//  responsive


@media screen and (max-width: 550px) {
  .container {
    div :first-child {
      margin-right: 0;
    }
  }
}
