@import '../base/colors';
@import '../base/measurements';
@import '../abstracts/mixins';

.skill {
  //@include border-layout-solid;
  display: flex;
  align-items: flex-start;
  padding-bottom: $bottom-margin-mini;
  margin-bottom: $bottom-margin-small;

  .sidebar-left {
    margin-right: $sidebar-margin-right;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;

      padding: 0.2rem 0.8rem 0.5rem;
      // make sure baseline is still the same by making up for shift added by padding
      margin: -0.2rem 0 1rem;
      @include border1px($color-grey-medium);
      @include removeListStyling;
    }

    .skill-bubbles {
      width: 10rem;

      display: flex;
      flex-flow: row;
      justify-content: space-between;

      div {
        background-color: $color-grey-light;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 10px;

        &.skilled {
          background-color: $color-grey-dark;
        }
      }
    }
  }

  @include border-bottom($color-grey-light);
}

//---------------------------------------------------------
//   RESPONSIVE

@media screen and (max-width: 450px) {
  .skill {
    li {
      width: 80%;
    }
  }
}

//---------------------------------------------------------
