@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";


.skill {
  //@include border-layout-solid;
  display: flex;
  align-items: flex-start;
  padding-bottom: $bottom-margin-mini;
  margin-bottom: $bottom-margin-small;

  .sidebar-left {
    margin-right: $sidebar-margin-right;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
      padding: .2rem .8rem .5rem;
      // make sure baseline is still the same by removing padding
      margin: -.2rem 0 1rem;
      @include border1px($color-grey-medium);
      @include removeListStyling;
    }
  }

  @include border-bottom($color-grey-light);
}
