@import "../base/colors";
@import "../base/measurements";
@import "../abstracts/mixins";


.skill {
  //@include border-layout-solid;
  display: flex;
  align-items: flex-start;
  padding-bottom: $bottom-margin-mini;
  margin-bottom: $bottom-margin-small;

  .sidebar-left {
    margin-right: $sidebar-margin-right;
  }


  //.container-half-width {
  //  width: $container-half-width;
  //  background: lavenderblush;
  //
  //  &:first-child {
  //    margin-right: $container-margin;
  //  }
  //}

  li {
    @include removeListStyling;
  }
  @include border-bottom($color-grey-light);
}


.stack {
  li {
    display: inline-block;
    margin: -1rem .7rem .7rem 0;
    padding: .2rem .8rem .5rem;
    @include border1px($color-grey-medium);
  }
}